
#footer {
    height: 80px;
    position: relative;
    bottom: 0;
    width:100%;
}
#header{
  position:fixed;
   width:100%;
   z-index: 9999;
}
#content{
    padding-top:50px;
    min-height:500px;
}
body {
    height: 100%;
}

.footer_1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.footer_list{
  line-height: 25px;
  margin:0;
  padding:0;
  list-style:none;
}
.footer_social{
    padding-top:10px;
}
.wrapper{
  background-color:#f8f8f8;
  height:200px;
  border-top: 1px solid black;
}
.banner1_desc{
        color:white;
        position: relative;
        top: 300px;
        /*background-color:grey !important;*/
        /*border-radius:0px !important;*/
        letter-spacing: 6px;
}


.banner2_desc{
        color:white;
        position: relative;
        top: 200px;
        /*background-color:grey !important;*/
        /*border-radius:0px !important;*/
        letter-spacing: 6px;
}

.host_backyard_desc{
       /*background-color:#31b0d5;*/
       /*background-color:#00ffff;*/
       background-color: rgba(0, 0, 0, 0.3);
       height:350px;
       width:350px;;
       color:white;
       margin-top: 100px;
       padding: 20px 20px 20px 20px;
}

#myModal{margin-top: 100px;}

.booking_widget{
      background-color: rgba(0, 0, 0, 0.6);
       height:150px;
       width:1000px;
       /*margin-top: 30px;*/
}

